*{
  margin:0px;
  padding:0px;
  box-size:border-box;
}

#container{
  background-color:blue;
}
#header-container{
 width:90%;
  margin:auto;
}
#logo{
  display:flex;
}
#logo div{
  margin-left:10px;
}
#kart{
  display:flex;
}

#kart div{
  margin-left:10px;
}
.upper-header{
  display:flex;
  color:white;
  justify-content:space-between;
  padding:20px;
}
#lower-header{
  display:flex;
  color:white;
  justify-content:space-between;
  padding:20px;
}
#search{
  width:100%;
}
#search input{
  background-color:white;
  border:none;
  border-radius:3px;
  padding:10px 20px;
  width:100%;
  margin:auto;
}
#main-container{
  overflow:hidden;
  display:flex;
  height:250px;
}
#main-text{
 position:absolute;
  font-size:45px;
 left:50px;
  top:200px;
}


#main-image img{
height:90%;
margin-left:110%;
}

#main-section{
  background-color:blue;
  color:white;
  padding:40px;
  display:flex;
  justify-content:space-between;
}

#items{
  backgroung-color:white;
  display:flex;
  justify-content:center;
  padding:20px;
  
}
.item img{
  width:200px;
}


#footer{
  display:flex;
  bottom:0px;
  width:100%;
  justify-content:space-between;
  color:red;
  position:fixed;
  background-color:silver;
  z-index:3;
}
.footer-item{
  padding:20px;
  font-size:20px;
}

#modal-compare{
  position:absolute;
  width:100%;
  height:auto;
  background-color:black;
   display:flex;
  justify-content:center;
  z-index:2;
  opacity:.9;
  top:0;
}
#modal-set{
  background-color:#eee;
  width:90%;
  height:auto;
  align-items:center;
}

#header-compare-item{
  padding:20px;
 display:flex;
  justify-content:space-between;

}
.compare-item-heading{
  padding:20px;
  display:flex;
  justify-content:space-between;
}
.compare-item :hover{
  cursor:pointer;
  background-color:white;
}
.compare-item:active{
  
}


@media(max-width: 800px){
#header-container{
 width:100%;
  margin:auto;
}
#footer{
  display:flex;
 bottom:0;
  position:fixed;
  width:100%;
  justify-content:space-between;
  color:red;
  background-color:silver;
  z-index:3;
}
.footer-item{
  padding:10px;
  font-size:10px;
}
#items{
  background-color:white;
  display:block;
 text-align: center; 
  padding:20px;
  
}
button button{
  
  font-weight: bold;
}
#main-text{
 position:absolute;
  font-size:20px;
 left:5px;
  top:200px;
}
#logo div{
  margin-left:2px;
}
#kart div{
  margin-left:2px;
}
#lower-header{
  display:flex;
  color:white;
  justify-content:space-between;
  padding:2px;
}
#search input{
  background-color:white;
  border:none;
  border-radius:5px;
  padding:5px 0px;
  width:100%;
  margin: auto;
}
#search{
  width:100%;
}



#modal-compare{
  position:absolute;
  width:100%;
  height:auto;
  background-color:black;
   display:flex;
  justify-content:center;
  z-index:2;
  opacity:.923;
  top:0;
}
#modal-set{
  background-color:#eee;
  width:90%;
  height:auto;
  align-items:center;
}

#header-compare-item{
 display:flex;
  justify-content:space-between;

}
.compare-item-heading{
  display:flex;
  justify-content:space-between;
}
.compare-item :hover{
  cursor:pointer;
  background-color:white;
}
}